.profile-content {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: var(--white);
  border-radius: var(--fs-30);
  padding: var(--fs-40);
  gap: var(--fs-24);

  &.pad--32 {
    overflow: hidden;
    padding: var(--fs-32);
  }

  .col--2 {
    width: calc((100% - var(--fs-40)) / 2);
    .label {
      width: 100%;
    }
  }

  .form {
    gap: var(--fs-40) var(--fs-24);
    fieldset {
      gap: var(--form-gap);
      &.col--2 {
        width: calc((100% - var(--fs-24)) / 2);
      }
    }

    .title {
      width: 100%;
    }
  }

  .title--24,
  .title--32 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    gap: var(--fs-12);
  }

  .title--32 {
    align-items: flex-start;
    align-content: flex-start;
  }

  > .title--24,
  > .title--32 {
    gap: var(--fs-6);
  }

  > .buttons {
    width: var(--fs-200);
    flex-shrink: 0;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    &.full {
      width: 100%;
    }
  }

  .need-time {
    display: flex;
    position: relative;
    width: 100%;
    padding: 0;
    padding-top: var(--fs-24);
    padding-left: calc(160px + var(--fs-24));
    flex-wrap: nowrap;
    gap: var(--fs-24);
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 200%;
      transform: translateX(-10%);
      height: 1px;
      background-color: var(--grey-button);
    }

    .more-time-form {
      .more-time-form-fields {
        flex-direction: column;
        label {
          flex: none;
          width: 100%;
          .text {
            display: flex;
            position: relative;
            width: 100%;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            gap: var(--fs-8);
            b {
              display: inline-block;
              width: auto;
            }
          }
        }
      }
    }
  }
}

.profile-info {
  > .button {
    margin-left: auto;
  }

  > .title {
    min-width: 60%;
  }
}
