.section--privat-events-hero {
  .content {
    display: inline-flex;
    width: 100%;
    flex: auto;
    height: auto;
    gap: var(--fs-4);
  }
  .col--2-3 {
    .content-text {
      width: 80%;
      max-width: 420px;
      margin-right: auto;
      margin-left: 0px;
    }
  }
  .col--3 {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .image-background.white-gradient {
    --fade-direction: 110deg;
    --fade-from: rgba(0, 0, 0, 0.1);
    --fade-hold: 50%;
    --fade-size: 90%;
    @media (min-width: 1024px) {
      --fade-size: 70%;
      --fade-from: rgba(0, 0, 0, 0.15);
      --fade-hold: 40%;
      --fade-direction: 120deg;
    }
  }
  .content.grey.pad--32 {
    flex: 0 0 auto;
    &:first-child {
      flex: 1 1 auto;
    }
  }

  @media (max-width: 1023px) {
    .col--3,
    .col--2-3 {
      min-width: 100%;
      width: 100%;
    }
    .col--3 {
      flex-direction: row;
      .content {
        width: calc((100% - var(--fs-24)) / 2);
      }
    }
  }

  @media (max-width: 767px) {
    .col--3 {
      flex-direction: column;
      .content {
        width: 100%;
      }
    }
  }
}

.privat-events-hero-image {
  min-height: 420px;
  &.dark {
    background-color: var(--black);
  }
  @media (max-width: 767px) {
    min-height: 220px;
  }
}
