//ВЕРСИИ ДЛЯ СЛАБОВИДЯЩИХ
.body.a11y {
  .a11y-panel-wrapper {
    display: flex;
  }

  // ОТСТУП +
  &.a11y-spacing-wide {
    letter-spacing: 0.05rem;
  }

  // ОТСТУП ++
  &.a11y-spacing-wider {
    letter-spacing: 0.1rem;
  }

  // БЕЛАЯ ТЕМА
  &.a11y-theme-light {
    background: var(--white);
    color: var(--black);

    .footer {
      background: var(--black);
    }
  }

  // ЧЁРНАЯ ТЕМА
  &.a11y-theme-dark {
    color: #fff;
    background: #141414;

    .footer {
      background: #000000;
    }
  }

  // КАРТИНКИ МОНОХРОМ
  &.a11y-images-grayscale {
    img,
    svg,
    video,
    [style*='background-image'],
    picture {
      filter: grayscale(100%);
    }
  }

  // КАРТИНКИ УДАЛЕНЫ
  &.a11y-images-hidden {
    .hero-images-slider,
    .tag svg,
    .logo-background,
    .image-background,
    .image-only,
    .present,
    .post-slide-image,
    .review-person-image,
    .stars-front,
    .stars-back,
    .footer-logo,
    .custom-pagination-image {
      display: none !important;
    }
  }
}
