[data-accordeon-body] {
  position: relative;
  overflow: hidden;
  transition: height 0.5s var(--cubic);
}

[data-accordeon-head] {
  svg {
    transform: rotate(0deg);
    transition: transform 0.3s var(--cubic);
  }
  &.open {
    svg {
      transform: rotate(180deg);
    }
  }
}
