.buttons {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 32px;
  &.ta--l {
    justify-content: flex-start;
  }
  &.ta--r {
    justify-content: flex-end;
  }
  &.group {
    gap: 8px;
  }
  &.auto {
    flex: 1;
    gap: 18px;
  }
}

.button {
  display: inline-flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 10px;
  padding: 0.8125rem 1.5rem; // 13-24
  border-radius: 42px;
  color: var(--white);
  background-color: var(--blue);
  font-family: var(--font);
  font-size: var(--fs-14);
  line-height: var(--fs-14);
  font-weight: 700;
  text-align: center;
  outline: none;
  flex-shrink: 0;
  transition:
    color 0.3s var(--cubic),
    background-color 0.3s var(--cubic),
    border 0.3s var(--cubic);

  &.regular {
    font-weight: 400;
  }

  &.full {
    width: 100%;
  }

  &.icon-submit {
    flex-wrap: nowrap;
    border-radius: var(--input-border-radius);
    padding: 0px;
    min-width: var(--input-height);
    min-height: var(--input-height);
    svg {
      width: 30px;
      height: 30px;
      flex-shrink: 0;
    }
  }

  &.blue {
    background-color: var(--blue-light);
    color: var(--blue);
    @media (hover: hover) {
      &:hover,
      &:focus-visible {
        background-color: var(--blue);
      }
    }
  }

  &.white {
    background-color: var(--white);
    color: var(--magenta);
  }

  &.white-border {
    background-color: var(--white);
    color: var(--magenta);
    border: 1px solid var(--magenta);
    @media (hover: hover) {
      &:hover,
      &:focus-visible {
        color: var(--white);
        background-color: var(--blue);
        border: 1px solid var(--blue);
      }
    }
  }

  &.blue-border {
    background-color: var(--white);
    color: var(--blue);
    border: 1px solid #e2e5ea;
    @media (hover: hover) {
      &:hover,
      &:focus-visible {
        color: var(--white);
        background-color: var(--blue);
        border: 1px solid var(--blue);
      }
    }
  }

  &.magenta {
    background-color: var(--magenta);
    @media (hover: hover) {
      &:hover,
      &:focus-visible {
        background-color: var(--blue);
      }
    }
  }

  &.magenta-light {
    background-color: var(--magenta-light);
    color: var(--magenta);
    @media (hover: hover) {
      &:hover,
      &:focus-visible {
        color: var(--white);
        background-color: var(--blue);
      }
    }
  }

  &.small {
    font-size: var(--fs-14);
    padding: 0.5rem 1.5rem; //8px 24px
    font-weight: 400;
    line-height: 1;
  }

  &.medium {
    font-weight: 400;
    font-size: var(--fs-16);
    padding: 0.688rem 2rem;
  }

  &.normal {
    font-size: var(--fs-16);
    line-height: 1;
    font-weight: 700;
    padding: 0.875rem 1.25rem; // 14px 20px
  }

  &.big {
    font-size: var(--fs-16);
    line-height: 1;
    text-transform: uppercase;
    padding: 0;
    padding: 1.2rem 1.875rem; //22px 30px
    svg {
      width: 1.25rem; // 20px
      height: 1.25rem; // 20px
    }
    @media (hover: hover) {
      &:hover,
      &:focus-visible {
        background-color: var(--magenta-hover);
      }
    }
  }

  &.button-pdf {
    background-color: var(--grey-button);
    color: var(--grey-medium);
    gap: 1rem;
    padding: 0.3rem 32px;
    span {
      color: var(--blue);
      font-size: var(--fs-16);
      text-align: left;
      font-weight: 700;
    }
    @media (hover: hover) {
      &:hover,
      &:focus-visible {
        color: var(--blue);
        background-color: var(--grey-button);
      }
    }
  }

  &.shadow {
    box-shadow: 0px 13.5px 31.5px -11.25px rgba(189, 68, 134, 0.302);
  }

  @media (hover: hover) {
    &:hover,
    &:focus-visible {
      color: var(--white);
      background-color: var(--magenta);
    }
  }

  &:disabled {
    opacity: 1;
    background-color: #edf0f5;
    color: #b2b2b2;
  }
}

.section--recomendations,
.section--curses,
.section--degustation-and-seminars {
  .button {
    min-width: 8.625rem; //138px
  }
}
