.footer {
  display: block;
  background: var(--blue);
  color: var(--white);
  padding-top: 94px;
  margin-top: 40px;

  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    max-width: 1280px;
    padding: 0px 20px;
  }

  .button.magenta {
    @media (hover: hover) {
      &:hover,
      &:focus {
        background-color: var(--magenta-hover);
      }
    }
  }
}

.copy {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 32px;
  margin-top: 8px;
  font-size: var(--fs-12);
  line-height: 1.2;
  font-weight: 400;

  br {
    display: none;
  }

  p {
    display: inline-block;
    opacity: 0.2;
  }

  a {
    display: inline-block;
    opacity: 0.2;
    transition:
      opacity 0.3s var(--cubic),
      color 0.3s var(--cubic),
      border-bottom 0.3s var(--cubic);
    border-bottom: 1px solid var(--white);
    @media (hover: hover) {
      &:hover,
      &:focus {
        opacity: 0.5;
      }
    }
  }
}

.footer-logo {
  display: block;
  width: 100%;
  height: auto;
  opacity: 0.14;
  margin-top: 8px;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 0px;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex: 1;
  width: calc((100% - 72px) / 4);

  &:nth-child(1),
  &:nth-child(2) {
    max-width: 240px;
  }

  .button {
    margin-top: 12px;
  }
}

.footer-menu-col {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 50%;
  padding-right: 5px;
  .footer-menu-title {
    font-size: var(--fs-16);
    line-height: 14px;
  }
}

.footer-menu-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  width: 100%;
  font-weight: 700;
  font-size: var(--fs-18);
  line-height: 1;
  opacity: 0.5;

  @media (max-width: 767px) {
    cursor: pointer;
  }

  svg {
    @media (min-width: 768px) {
      display: none;
    }
  }
}

.footer-menu-list {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  font-weight: 400;
  font-size: var(--fs-14);
  line-height: 1.143;

  span {
    opacity: 0.5;
  }

  a {
    display: inline-block;
    padding: 8px 0px;
    transition: color 0.3s var(--cubic);
    @media (hover: hover) {
      &:hover,
      &:focus {
        color: var(--magenta);
      }
    }
  }

  li {
    &:first-child {
      a {
        padding-top: 0px;
      }
    }
    &:last-child {
      a {
        padding-bottom: 0px;
      }
    }
  }
}

.socials {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 8px;
  margin-top: 4px;
  a {
    display: block;
    width: 24px;
    height: 24px;
    color: inherit;
    transition: color 0.3s var(--cubic);
    @media (hover: hover) {
      &:hover,
      &:focus {
        color: var(--magenta);
      }
    }

    svg {
      display: block;
      pointer-events: none;
      width: 100%;
      height: 100%;
    }
  }
}

//1280
@media (max-width: 1365px) {
  .footer {
    padding-top: 80px;

    .container {
      gap: 24px;
      max-width: 1200px;
    }
  }

  .footer-menu-list {
    font-size: var(--fs-13);
  }

  .footer-menu {
    &:nth-child(1),
    &:nth-child(2) {
      max-width: 220px;
    }
  }
}

//1024
@media (max-width: 1279px) {
  .footer {
    display: block;
    position: relative;
    .container {
      gap: 40px;
    }
  }

  .copy {
    gap: 32px;
    margin-top: 8px;
    font-size: var(--fs-12);
  }

  .footer-logo {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .footer-menu {
    min-width: calc(50% - 20px);

    &:nth-child(1),
    &:nth-child(2) {
      min-width: calc(50% - 20px);
    }
  }
}

//768
@media (max-width: 1023px) {
  .copy {
    gap: 16px;
    margin-top: 8px;
    font-size: var(--fs-12);
    text-align: center;
    flex-direction: column;
    br {
      display: block;
    }
  }
}

//320
@media (max-width: 767px) {
  .footer {
    padding-top: 50px;
    margin-top: 20px;
    .container {
      gap: 40px;
    }
  }

  .copy {
    font-size: var(--fs-14);
  }

  .footer-menu {
    min-width: 100%;
    width: 100%;

    &:nth-child(1),
    &:nth-child(2) {
      min-width: 100%;
    }
  }

  .footer-menu-list {
    font-size: var(--fs-14);
    &[data-accordeon-body] {
      height: 0px;
    }
  }
}
