:root {
  font-optical-sizing: auto;
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  backface-visibility: hidden;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font);
  font-size: var(--fs-16);
  line-height: 1.2;
  font-weight: 400;
}

html,
.body {
  height: 100%;
  z-index: 0;
}

.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: none;
  background-color: var(--grey-light);
  -webkit-overflow-scrolling: touch;
}

img,
video {
  display: block;
  object-fit: cover;
  user-select: none;
  pointer-events: none;
}

svg {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
b strong {
  font-family: var(--font);
  color: inherit;
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

ul,
ol,
menu {
  list-style: none;
}

fieldset {
  border: none;
}

hr {
  display: block;
  width: 100%;
  height: 1px;
  border: none;
  box-shadow: none;
  background-color: var(--grey-border);
}

button {
  position: relative;
  border: none;
  cursor: pointer;
  background: none;
  color: inherit;
  &:disabled {
    cursor: auto;
    pointer-events: none;
    opacity: 0.3;
  }
}

.main {
  display: block;
  position: relative;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  outline: none;
  width: 100%;
  height: auto;
  transform: translate(0%, 20px);
  opacity: 0;
  transition:
    transform 1s var(--cubic),
    opacity 1s var(--cubic);
  padding-top: 80px;
  @media (max-width: 1365px) {
    padding-top: 54px;
  }
}

.a11y {
  .main {
    padding-top: 0px;
  }
}

.loaded {
  .main {
    transform: translate(0%, 0px);
    opacity: 1;
  }
}

.container {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  padding: 0px 50px;
  z-index: 1;
  &.center {
    justify-content: center;
    text-align: center;
  }
  &.gap--16 {
    gap: 16px;
  }
  @media (max-width: 1279px) {
    padding: 0px 20px;
  }
}

.section {
  display: block;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  padding: 2.5rem 0px;
  margin: 0 auto;
  scroll-margin: 2.5rem;
  overflow: hidden;
  &.visible {
    overflow: visible;
  }
}

.list {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 8px 2rem;
  list-style: disc;
  padding-left: 1.2rem;
  color: var(--magenta);
  li {
    width: 100%;
  }
  &.auto {
    li {
      width: auto;
    }
  }
}

@media (min-width: 1024px) {
  .show-in-tablet {
    display: none !important;
  }
}

@media (max-width: 1023px) {
  .delete-in-tablet {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .delete-in-mobil {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .show-in-mobil {
    display: none !important;
  }
}

.skip-link {
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translate(-50%, -300%);
  transition: transform 0.5s var(--cubic);
  display: inline-block;
  z-index: 9999;
  background-color: var(--white);
  color: var(--blue);
  font-size: var(--fs-16);
  font-weight: 400;
  padding: 10px 24px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  &:focus-visible {
    transform: translate(-50%, 0%);
  }
}

.link {
  display: inline;
  border-bottom: 1px solid var(--magenta);
  color: var(--magenta);
  font-size: 14px;
  line-height: 1.4;
}
