.section-hero {
  padding: 25px 0px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 24px;
  z-index: 1;
  height: calc(100vh - 100px);
  max-height: 650px;
  background-color: var(--white);
}

.hero-images-slider {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 0;

  .swiper {
    height: 100%;
    .swiper-slide {
      &:before {
        opacity: 0.5;
      }
      opacity: 1;
      picture {
        pointer-events: none;
        user-select: none;
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.hero-content {
  display: flex;
  width: 100%;
  gap: 22px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
  z-index: 2;
  padding: 30px;
}

.hero-text-slider {
  max-width: 32rem; //512px

  .swiper-slide {
    transition: opacity 1s ease !important;
    pointer-events: none !important;
    opacity: 0 !important;
    &.swiper-slide-active {
      pointer-events: all !important;
      opacity: 1 !important;
    }
  }

  .title,
  .text {
    line-height: 1.1;
  }
}

.custom-pagination {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  align-content: flex-end;
  gap: 12px;

  li {
    display: block;
    flex: 1;
    min-width: 26%;
    transition: min-width 0.5s ease;
    &.active {
      min-width: calc(48% - 24px);
      .custom-pagination-text {
        h3 {
          font-size: var(--fs-24);
          -webkit-line-clamp: 2;
          line-clamp: 2;
        }
        p {
          opacity: 1;
          -webkit-line-clamp: 3;
          line-clamp: 3;
        }
      }
    }
  }

  .custom-pagination-item {
    display: flex;
    position: relative;
    overflow: hidden;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 12px;
    border-radius: 16px;
    padding: 12px;
    background-color: var(--white);
    cursor: pointer;
  }

  .custom-pagination-image {
    width: 120px;
    height: 120px;
    border-radius: 12px;
    position: relative;
    flex-shrink: 0;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .custom-pagination-text {
    text-align: left;
    font-family: var(--font);

    h3 {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-size: var(--fs-20);
      font-weight: 400;
      line-height: 1.1;
      transition: font-size 0.5s ease;
    }
    p {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      position: relative;
      height: auto;
      z-index: 2;
      font-size: var(--fs-16);
      font-weight: 400;
      line-height: 1.1;
      padding-top: 10px;
      opacity: 0;
      transition: opacity 0.5s ease;
    }
  }
}

//1366
@media (max-width: 1439px) {
  .hero {
    border-radius: 24px;
  }

  .custom-pagination {
    li {
      &.active {
        .custom-pagination-text {
          h3 {
            font-size: var(--fs-20);
          }
        }
      }
    }

    .custom-pagination-image {
      width: 110px;
      height: 110px;
    }

    .custom-pagination-text {
      h3 {
        font-size: var(--fs-20);
      }
      p {
        font-size: var(--fs-14);
        padding-top: 10px;
        line-height: 1.2;
      }
    }
  }
}

//1024
@media (max-width: 1279px) {
  .hero-content {
    padding: 20px;
  }

  .custom-pagination {
    li {
      &.active {
        .custom-pagination-text {
          h3 {
            font-size: var(--fs-16);
          }
        }
      }
    }

    .custom-pagination-image {
      width: 110px;
      height: 110px;
    }

    .custom-pagination-text {
      h3 {
        font-size: var(--fs-16);
      }
      p {
        font-size: var(--fs-12);
        padding-top: 10px;
        line-height: 1.2;
      }
    }
  }
}
