.section--welcome {
  svg.logo-background {
    width: 900px;
    height: auto;
    right: 50%;
    top: 50%;
    z-index: 0;
    transform: translate(0%, -62%);
    pointer-events: none;
  }

  .title.title--64 {
    display: inline-flex;
    width: auto;
    font-weight: 300;
    z-index: 3;
  }

  .text {
    max-width: 38%;
    z-index: 3;
    line-height: 1.5;
    margin: 20px auto;
  }
}

//1366
@media (max-width: 1439px) {
  .section--welcome {
    svg.logo-background {
      transform: translate(-2%, -62%);
    }

    .text {
      margin: 10px auto;
    }
  }
}

//1024
@media (max-width: 1279px) {
  .section--welcome {
    svg.logo-background {
      width: 320px;
      right: 0%;
      top: 0%;
      transform: translate(24%, -16%);
    }

    .content.row {
      flex-direction: column;
    }

    .title.title--64 {
      display: block;
      width: 100%;
      max-width: 100%;
    }

    .text {
      max-width: 100%;
      margin: var(--fs-20) 0px var(--fs-16) 0px;
    }
  }
}

//375
@media (max-width: 767px) {
  .section--welcome {
    svg.logo-background {
      width: 240px;
      right: 0%;
      top: 0%;
      transform: translate(24%, -16%);
    }

    .content.row {
      flex-direction: column;
    }

    .title.title--64 {
      display: block;
      width: 100%;
      max-width: 100%;
    }

    .text {
      max-width: 100%;
      margin: var(--fs-20) 0px var(--fs-16) 0px;
    }
  }
}
