.section-callback {
  .content {
    max-width: 50rem; //800px
    border-radius: 32px;
    margin: 0 auto;
  }
}

.callback-form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 18px 30px;

  .title {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 12px;
    font-size: var(--fs-18);
    svg {
      color: var(--magenta);
    }
  }

  .input.input--textarea {
    height: 4.625rem; //74px
  }
}

.callback-form-inner {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: calc((100% - 30px) / 2);
  gap: var(--form-gap);
}
