.swiper {
  width: 100%;
  overflow: visible;

  .swiper-slide {
    display: flex;
    height: auto;
    position: relative;
    transition: opacity 0.5s var(--cubic);
    pointer-events: none;
    opacity: 0;
    &.swiper-slide-active {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.arrows {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 18px;
  flex-shrink: 0;
  &.inline {
    display: inline-flex;
    width: auto;
  }
  &.auto {
    flex: 1;
  }
  &.ta--l {
    justify-content: flex-start;
  }
  &.ta--r {
    justify-content: flex-end;
  }
}

.arrow {
  display: block;
  width: 38px;
  height: 38px;
  border-radius: 38px;
  cursor: pointer;
  outline: none;
  transition:
    background-color 0.3s var(--cubic),
    color 0.3s var(--cubic);
  z-index: 4;
  background-color: var(--white);
  color: var(--grey-text);
  svg {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
  }

  @media (hover: hover) {
    &:hover,
    &:focus-visible {
      color: var(--white);
      background-color: var(--magenta);
    }
  }

  &.swiper-button-disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  &[data-arrow-prev] {
    svg {
      transform: rotate(90deg);
    }
  }
  &[data-arrow-next] {
    svg {
      transform: rotate(-90deg);
    }
  }
}

.swiper-pagination {
  display: inline-flex;
  position: relative;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  width: auto;

  font-size: var(--fs-16);
  color: var(--grey);
  .swiper-pagination-current {
    color: var(--magenta);
  }
}

.arrows {
  .swiper-pagination {
    gap: 2px;

    span {
      display: block;
      width: 20px;
    }
  }
}
