.tags {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 10px;
  @media (max-width: 767px) {
    gap: 8px;
  }
  flex-shrink: 0;

  &.auto {
    display: inline-flex;
    width: auto;
  }

  .tag {
    display: inline-flex;
    width: auto;
    align-items: center;
    gap: 0.5rem;
    color: var(--black);
    border: 1px solid var(--grey);
    border-radius: 100px;
    line-height: 1;
    font-weight: 700;
    z-index: 2;
    font-size: var(--fs-13);
    padding: var(--fs-8) var(--fs-16);

    svg {
      display: block;
      width: var(--fs-18);
      height: var(--fs-18);
      color: var(--magenta);
    }

    //1366
    @media (max-width: 1439px) {
      font-size: var(--fs-12);
      padding: var(--fs-8) var(--fs-14);

      svg {
        width: var(--fs-14);
        height: var(--fs-14);
      }
    }

    //375
    @media (max-width: 767px) {
      font-size: var(--fs-12);
      padding: var(--fs-8) var(--fs-12);

      svg {
        width: var(--fs-14);
        height: var(--fs-14);
      }
    }

    &.white {
      background-color: var(--white);
    }
    &.right {
      margin-left: auto;
    }
  }
}
