<div class="order-details">
  <h3 class="title title--24 bold">Детали заказа</h3>

  <table class="order-table" cellspacing="0" cellpadding="0">
    <tr>
      <td><span class="text">2 товара</span></td>
      <td><span class="text bold">11 500 ₽</span></td>
    </tr>
    <tr>
      <td>
        <span class="text">Скидка за сертификат</span>
        <span class="text fs-12 grey-text">36ZC-XQT7-839</span>
      </td>
      <td>
        <span class="text bold">−250 ₽</span>
        <button type="button" class="text fs-12 magenta">Отменить</button>
      </td>
    </tr>
    <tr>
      <td>
        <span class="text">Скидка за промокод</span>
        <span class="text fs-12 grey-text">PROMO001</span>
      </td>
      <td>
        <span class="text bold">−250 ₽</span>
        <button type="button" class="text fs-12 magenta">Отменить</button>
      </td>
    </tr>
  </table>

  <form action="#" class="order-sum">
    <span class="title title--24 bold">Итого</span>
    <span class="title title--24 bold">11&nbsp;000&nbsp;₽</span>
    <button type="submit" class="button full"><span>Подтвердить заказ</span></button>
  </form>
</div>
