<div class="order-details gap--12">
  <h3 class="title title--18 bold">Ваш заказ</h3>

  <table class="order-table" cellspacing="0" cellpadding="0">
    <tr>
      <td>
        <span class="text fs-14 bold">Быстрый старт: о вине за 3 встречи</span>
        <span class="text fs-12 grey-text">Очный курс · Встреча №2 · 14 июля</span>
      </td>
      <td>
        <span class="text fs-14 bold">1&nbsp;000&nbsp;₽</span>
      </td>
    </tr>
    <tr>
      <td>
        <span class="text fs-14 bold">Подарочный сертификат</span>
        <span class="text fs-12 grey-text">Номинал: 10&nbsp;000&nbsp;₽</span>
      </td>
      <td>
        <span class="text fs-14 bold">10&nbsp;000&nbsp;₽</span>
      </td>
    </tr>
  </table>
</div>
