<div class="order-details gap--12">
  <h3 class="title title--18 bold">Применить промокод</h3>

  <form data-form action="#" class="order-promocode-form" novalidate>
    <label class="label">
      <input
        name="order-promo"
        type="text"
        class="input"
        value="PROMO-123"
        placeholder="PROMO-ХХХ"
        required
        data-error-text="Такого промокода не найдено."
      />
    </label>
    <button type="submit" class="button"><span>Применить</span></button>
  </form>

  <p class="text fs-12 magenta">Скидка 250&nbsp;₽ по промокоду успешно применена.</p>
</div>
