.section-callback {
  .content {
    max-width: 50rem; //800px
    border-radius: var(--fs-30);
    padding: var(--fs-30);
    margin: 0 auto;
    box-shadow: 0px 18px 48px rgba(15, 23, 42, 0.031);
  }
}

.callback-form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--fs-18) var(--fs-32);

  .title {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 12px;
    font-size: var(--fs-18);
    svg {
      color: var(--magenta);
    }
  }

  .input.input--textarea {
    height: 5.625rem;
  }
}

.callback-form-inner {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: calc((100% - var(--fs-32)) / 2);
  gap: var(--form-gap);
}

//375
@media (max-width: 860px) {
  .section-callback {
    padding-bottom: 0px;
  }

  .callback-form {
    flex-direction: column;
    padding-bottom: var(--fs-40);

    .input.input--textarea {
      height: 100px; //74px
    }
  }

  .callback-form-inner {
    width: 100%;
  }
}

//767
@media (max-width: 767px) {
  .section-callback {
    padding-bottom: var(--fs-30);
    .content {
      border-radius: var(--fs-30);
      padding: var(--fs-20);
    }
  }
  .callback-form {
    padding-bottom: 0px;
    .button {
      width: 100%;
    }
  }
}

// .body.a11y {
//   &.a11y-theme-light {
//     .section-callback {
//       .content {
//         box-shadow: none;
//         background-color: var(--grey-light);
//         border-bottom: 1px solid rgba(0, 0, 0, 0.1);
//       }
//     }
//   }
// }
