.curse-description {
  gap: var(--fs-40);
  flex-direction: row;
  padding: var(--fs-32);
  .title--16 {
    margin-bottom: -16px;
  }
  .text {
    line-height: 1.5;
  }
  @media (max-width: 1023px) {
    flex-direction: column;
    gap: var(--fs-32);
    padding: var(--fs-30);
  }
  @media (max-width: 767px) {
    gap: var(--fs-24);
    padding: var(--fs-20);
  }
}
