.section--curses {
  .content {
    min-height: 360px;
  }

  .content-text {
    max-width: 18.75rem; //300px
    margin-top: auto;
    margin-bottom: 10px;
  }

  .text,
  .title {
    line-height: 1;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .col-3 {
    .content-text {
      max-width: 14.375rem; //230px
    }
  }

  .tags {
    margin-bottom: var(--fs-12);
  }
}

.price-and-btn {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 12px;
  z-index: 2;
  span {
    font-size: var(--fs-24);
    line-height: 1;
    font-weight: 700;
    color: var(--blue);
  }
}

@media (max-width: 1151px) {
  .section--curses {
    .title--40 {
      margin-bottom: var(--fs-40);
    }
  }
}

//768
@media (max-width: 1023px) {
  .section--curses {
    .container {
      > .button {
        margin-left: auto;
      }
    }
    .content {
      .price-and-btn {
        margin-top: var(--fs-10);
      }
    }

    .content-text {
      max-width: 300px;
    }

    .col-3 {
      .content-text {
        max-width: 300px;
      }
    }

    .tags {
      .tag {
        background-color: rgba(255, 255, 255, 0.8);
      }
    }
  }
}

//375
@media (max-width: 767px) {
  .section--curses {
    .title--40 {
      margin-bottom: 0px;
    }
    .container {
      > .button {
        margin-left: auto;
      }
    }

    .content {
      min-height: 340px;

      .content-text {
        max-width: 230px;
      }

      .image-background {
        position: relative;
        width: calc(100% + 48px);
        height: 200px;
        left: -24px;
        top: -24px;
        margin-bottom: -50px;
        &:before {
          background: linear-gradient(rgba(255, 255, 255, 0) 50%, var(--white));
        }
        img {
          display: block;
          width: auto;
          max-width: 150%;
          min-width: 100%;
          height: 100%;
          left: auto;
          right: 0px;
        }
      }

      .logo-background {
        width: 320px;
        right: 0%;
        top: 0%;
        transform: translate(50%, -20%);
      }
    }
  }
}

.body.a11y {
  @media (min-width: 768px) {
    .section--curses {
      .content {
        min-height: 0px;
      }

      .content-text {
        max-width: 500px;
        margin-bottom: var(--fs-16);
      }

      .col-3 {
        .content-text {
          max-width: 500px;
        }
      }

      .logo-background {
        width: 65%;
        height: auto;
      }

      .image-background:not(.image-only *) {
        position: relative;
        width: 100%;
        max-width: 500px;
        height: auto;
        margin-bottom: var(--fs-24);
        border-radius: var(--fs-30);
        overflow: hidden;
        img,
        video {
          position: relative;
          right: auto;
          width: 100%;
          height: auto;
        }
      }
    }
  }

  &.a11y-theme-dark {
    .price-and-btn span {
      color: var(--white);
    }
  }
}
