.gallery-slider,
.interface-slider {
  .swiper-slide {
    width: auto;
    opacity: 1 !important;
    pointer-events: auto !important;
  }
}

.gallery-image,
.interface-image {
  display: block;
  width: auto;
  border-radius: 16px;
  cursor: pointer;
  pointer-events: all;
}

.gallery-image {
  height: 260px;
  @media (max-width: 767px) {
    height: 200px;
  }
}

.interface-image {
  height: 355px;
  @media (max-width: 767px) {
    height: 200px;
  }
}

.gallery-image-original {
  width: 100%;
  max-width: 1200px;
}
