.section-teachers-sliader {
  .container {
    > .button {
      margin-left: auto;
      @media (max-width: 767px) {
        margin-left: 0px;
      }
    }
  }

  .swiper {
    .swiper-slide {
      &.swiper-slide-active + .swiper-slide,
      &.swiper-slide-active + .swiper-slide + .swiper-slide {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  .title {
    line-height: 1.3;
  }
  .text {
    line-height: 1.5;
  }

  a.magenta-link {
    margin-top: auto;
  }

  .post-card-image {
    &:before {
      padding-top: 54%;
    }
  }
}
