.section-hero {
  padding: var(--fs-25) 0px;
  .swiper {
    overflow: hidden;
  }
  @media (min-width: 768px) {
    .swiper-pagination {
      display: none !important;
    }
  }
  .tag {
    border: 1px solid var(--grey);
  }
  .dark {
    .title,
    .text {
      color: var(--white);
    }
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  border-radius: var(--fs-24);
  z-index: 1;
  min-height: 650px;
  background-color: var(--white);
  @media (max-width: 1439px) {
    min-height: 530px;
  }
}

.hero-images-slider {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 0;
  overflow: hidden;
  &.white-gradient:before {
    opacity: 0.5;
    z-index: 2;
  }

  .swiper {
    height: 100%;
    z-index: 1;
    .swiper-slide {
      opacity: 1;
      picture {
        pointer-events: none;
        user-select: none;
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.hero-content {
  display: flex;
  width: 100%;
  gap: var(--fs-22);
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
  z-index: 2;
  padding: 30px;
}

.hero-text-slider {
  margin: 0;
  max-width: 32rem; //512px

  // .swiper-wrapper {
  //   min-height: 320px;
  //   align-items: flex-end;
  //   align-content: flex-end;
  // }

  .swiper-slide {
    transition: opacity 1s ease !important;
    pointer-events: none !important;
    opacity: 0 !important;
    &.swiper-slide-active {
      pointer-events: all !important;
      opacity: 1 !important;
    }
  }

  .title,
  .text {
    line-height: 1.1;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.custom-pagination {
  width: 100%;

  .swiper-slide {
    opacity: 1;
    pointer-events: auto;
    transition: width 0.5s var(--cubic);

    @media (min-width: 1920px) {
      &[aria-label='1 / 4'].active {
        .custom-pagination-item {
          width: calc(142.4% - 12px);
          min-width: calc(142.4% - 12px);
        }
        + .swiper-slide {
          .custom-pagination-item {
            left: calc(48% - 24px);
          }
          + .swiper-slide {
            .custom-pagination-item {
              left: calc(32% - 12px);
            }
            + .swiper-slide {
              .custom-pagination-item {
                left: 16%;
              }
            }
          }
        }
      }

      &[aria-label='2 / 4'] {
        .custom-pagination-item {
          left: calc(-16% + 12px);
        }
        &.active {
          .custom-pagination-item {
            width: calc(142.4% - 12px);
            min-width: calc(142.4% - 12px);
            left: calc(-16% + 12px);
          }
          + .swiper-slide {
            .custom-pagination-item {
              left: calc(32% - 12px);
            }
            + .swiper-slide {
              .custom-pagination-item {
                left: 16%;
              }
            }
          }
        }
      }

      &[aria-label='3 / 4'] {
        .custom-pagination-item {
          left: calc(-32% + 24px);
        }
        &.active {
          .custom-pagination-item {
            width: calc(142.4% - 12px);
            min-width: calc(142.4% - 12px);
            left: calc(-32% + 24px);
          }
          + .swiper-slide {
            .custom-pagination-item {
              left: 16%;
            }
          }
        }
      }

      &[aria-label='4 / 4'] {
        &.active {
          .custom-pagination-item {
            width: calc(142.4% - 12px);
            min-width: calc(142.4% - 12px);
            left: calc(-48% + 36px);
          }
        }
      }
    }

    @media (max-width: 1919px) {
      &[aria-label='1 / 4'].active,
      &[aria-label='2 / 4'].active {
        .custom-pagination-item {
          width: calc(140% - 24px);
          min-width: calc(140% - 24px);
          transform: translate(0%, 0%);
        }
        + .swiper-slide {
          .custom-pagination-item {
            transform: translate(0%, 0%);
            left: calc(40% - 12px);
          }
          + .swiper-slide {
            .custom-pagination-item {
              transform: translate(0%, 0%);
              left: 20%;
            }
          }
        }
      }

      &[aria-label='3 / 4'] {
        .custom-pagination-item {
          left: calc(-20% + 12px);
        }
      }

      &[aria-label='3 / 4'].active {
        .custom-pagination-item {
          width: calc(140% - 24px);
          min-width: calc(140% - 24px);
          transform: translate(0%, 0%);
          left: calc(-20% + 12px);
        }
        + .swiper-slide {
          .custom-pagination-item {
            transform: translate(0%, 0%);
            left: 20%;
          }
        }
      }

      &[aria-label='4 / 4'].active {
        .custom-pagination-item {
          width: calc(140% - 24px);
          min-width: calc(140% - 24px);
          transform: translate(0%, 0%);
          left: calc(-40% + 24px);
        }
      }
    }

    &.active {
      .custom-pagination-text {
        h3 {
          -webkit-line-clamp: 2;
          line-clamp: 2;
        }
        .text {
          opacity: 1;
          -webkit-line-clamp: 3;
          line-clamp: 3;
        }
      }
    }
  }

  .custom-pagination-item {
    display: flex;
    position: relative;
    width: 84%;
    min-width: 84%;
    left: 0px;
    @media (max-width: 1919px) {
      width: 80%;
      min-width: 80%;
    }
    overflow: hidden;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
    border-radius: 16px;
    padding: 12px;
    background-color: var(--white);
    cursor: pointer;
    transform: translate(0%, 0%);
    transition:
      left 0.5s ease,
      width 0.5s ease,
      min-width 0.5s ease,
      transform 0.5s ease;
  }

  .custom-pagination-image {
    width: 120px;
    height: 120px;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    img {
      width: 100%;
      height: 100%;
    }
    @media (max-width: 1439px) {
      width: 100px;
      height: 100px;
    }
  }

  .custom-pagination-text {
    text-align: left;
    font-family: var(--font);

    h3 {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-size: var(--fs-24);
      font-weight: 400;
      line-height: 1.1;
      @media (max-width: 1439px) {
        font-size: var(--fs-18);
      }
    }
    .text {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      position: relative;
      height: auto;
      z-index: 2;
      font-weight: 400;
      line-height: 1.1;
      padding-top: var(--fs-10);
      opacity: 0;
      transition: opacity 0.5s ease;
      @media (max-width: 1439px) {
        font-size: var(--fs-14);
      }
    }
  }
}

// TABLET
@media (max-width: 1151px) {
  .section-hero {
    padding: 0px;
    .container {
      padding: 0px;
    }
    .arrows {
      margin-left: 0px;
    }
  }

  .hero {
    border-radius: 0px 0px var(--fs-24) var(--fs-24);
    z-index: 1;
    min-height: auto;
  }

  .hero-content {
    display: flex;
    width: 100%;
    min-height: 100%;
    flex: 1;
    gap: var(--fs-22);
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: var(--fs-32);
    padding-top: var(--fs-40);
  }

  .hero-text-slider {
    max-width: 368px; //512px
    // .swiper-wrapper {
    //   min-height: 310px;
    //   height: auto;
    //   align-items: flex-start;
    //   align-content: flex-start;
    // }
  }

  .custom-pagination {
    display: none;
  }
}

// MOBIL
@media (max-width: 767px) {
  .hero-images-slider {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 0px 0px var(--fs-24) var(--fs-24);

    &.white-gradient:before {
      content: none;
    }

    .swiper {
      width: 100%;
      height: 250px;
      .swiper-slide {
        picture {
          position: relative;
          overflow: hidden;
          z-index: 1;
          img {
            display: block;
            position: absolute;
            min-width: 100%;
            max-width: 10000px;
            width: auto;
            height: 100%;
            left: auto;
            right: 0px;
          }
        }
      }
    }
  }

  .section-hero {
    .arrows {
      width: 100%;
    }

    .tag {
      background-color: var(--white);
    }

    .dark {
      .title,
      .text {
        color: var(--blue);
      }
    }
  }

  .hero {
    flex-direction: column;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
  }

  .hero-content {
    gap: 16px;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    padding-top: 16px;
  }

  .hero-text-slider {
    // .swiper-wrapper {
    //   min-height: auto;
    //   height: auto;
    //   align-items: none;
    //   align-content: none;
    // }

    .swiper-slide {
      transition: opacity 0.5s ease !important;
    }

    .title,
    .text {
      text-align: center;
      color: var(--blue);
    }

    .content-text {
      justify-content: flex-start;
      align-items: center;
      .text {
        font-size: 15px;
      }
    }
  }
}

.a11y {
  @media (min-width: 768px) {
    .hero {
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;
      height: auto;
      max-height: 10000px;
      flex-wrap: wrap;
      background: none;
      border-radius: 0px;
      .content-text {
        min-height: 370px;
        padding-right: var(--fs-40);
      }
    }

    .hero-images-slider {
      position: absolute;
      left: auto;
      right: 0px;
      width: 50%;
      height: auto;
      max-height: 300px;
      border-radius: var(--fs-24);

      .swiper {
        width: 100%;
        height: auto;
        .swiper-slide {
          picture {
            height: auto;
            img {
              height: auto;
            }
          }
        }
      }
    }

    .hero-content {
      padding: 0px;
    }

    .hero-text-slider {
      max-width: 50%;
      .title,
      .text {
        line-height: 1.2;
      }
    }

    .custom-pagination {
      display: none;
    }
  }
}
