.gallery-slider {
  .swiper-slide {
    width: auto;
    opacity: 1 !important;
    pointer-events: auto !important;
  }
}

.gallery-image {
  display: block;
  width: auto;
  height: 260px;
  @media (max-width: 767px) {
    height: 200px;
  }
  border-radius: 16px;
  cursor: pointer;
  pointer-events: all;
}

.gallery-image-original {
  width: 100%;
  max-width: 1200px;
}
