.section-news-slider,
.section-materials-slider {
  @media (max-width: 599px) {
    .container {
      align-items: flex-end;
    }
    .title--32 {
      width: calc(100% - 94px - 24px);
    }
  }
}

.posts-slider {
  .swiper-slide {
    &.swiper-slide-active + .swiper-slide,
    &.swiper-slide-active + .swiper-slide + .swiper-slide,
    &.swiper-slide-active + .swiper-slide + .swiper-slide + .swiper-slide {
      opacity: 1;
      pointer-events: all;
    }
    @media (min-width: 1920px) {
      &.swiper-slide-active + .swiper-slide + .swiper-slide + .swiper-slide + .swiper-slide {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  .tags .tag {
    border: 1px solid var(--grey-button);
  }
}

.post-slide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  flex-wrap: wrap;
  width: 100%;
  background-color: var(--white);
  padding: var(--fs-24);
  border-radius: var(--fs-50);
  @media (max-width: 767px) {
    padding: var(--fs-16);
  }

  .magenta-link {
    margin-top: var(--fs-16);
  }

  .content-text {
    min-height: 100%;
    .magenta-link {
      margin-top: auto;
    }
  }

  .buttons {
    margin-top: var(--fs-16);
    .button {
      min-width: 10.5rem;
      @media (max-width: 767px) {
        width: 100%;
      }
    }
  }
}

.post-slide-image {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  background-color: var(--grey-light);
  border-radius: var(--fs-30);
  @media (max-width: 767px) {
    border-radius: var(--fs-38);
  }
  margin-bottom: var(--fs-10); //10px
  flex-shrink: 0;
  &:before {
    content: '';
    display: block;
    width: 100%;
    padding-top: 66.914498%;
  }

  img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    transform: scale(1);
    transition: transform 0.5s ease;
  }

  @media (hover: hover) {
    &:hover {
      img {
        transform: scale(1.05);
      }
    }
  }
  &:focus-visible {
    img {
      transform: scale(1.05);
    }
  }
}

.post-slide-text {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: var(--fs-6); //6px
  margin-bottom: auto;

  .text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    overflow: hidden;
    line-height: 1.3;

    &.fs-14 {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      gap: var(--fs-5); //5px
      color: var(--grey-medium);
      line-height: 1.2;
      svg {
        display: block;
        width: 1.125rem; //18px
        height: 1.125rem; //18px
      }
    }
  }
}

//1024
@media (max-width: 1279px) {
  .posts-slider {
    .swiper-slide {
      width: 316px;
      opacity: 1;
      pointer-events: all;
    }
  }
}

//375
@media (max-width: 767px) {
  .posts-slider {
    .swiper-slide {
      width: 275px;
    }
  }
}

.body.a11y {
  @media (min-width: 768px) {
    .swiper-slide {
      &.swiper-slide-active + .swiper-slide + .swiper-slide + .swiper-slide {
        opacity: 0;
        pointer-events: none;
      }
    }

    // A++
    &.a11y-font-large {
      .post-slide-image {
        margin-bottom: var(--fs-14);
      }
      .post-slide-text {
        gap: var(--fs-14);
        .text {
          &.fs-14 {
            svg {
              width: var(--fs-24); //18px
              height: var(--fs-24); //18px
            }
          }
        }
      }
    }
  }

  &.a11y-theme-dark {
    .post-slide,
    .post-slide-image {
      background-color: var(--blue);
    }
  }
}
