.section--pay-methods {
  .container {
    gap: var(--fs-35);
    @media (max-width: 767px) {
      gap: var(--fs-24);
    }
  }
}

.you-money {
  padding: var(--fs-40);
  min-width: 45%;
  min-height: 300px;
  @media (max-width: 1023px) {
    padding: var(--fs-24) var(--fs-20);
  }
  @media (max-width: 767px) {
    min-width: 100%;
    min-height: 30px;
  }

  .title,
  .text {
    display: block;
    position: relative;
    z-index: 2;
    width: 100%;
  }

  .text {
    max-width: 374px;
    color: var(--grey-text);
  }

  .logo-background {
    right: 0px;
    top: 50%;
    z-index: 0;
    transform: translate(12%, -50%);
    @media (max-width: 767px) {
      transform: translate(12%, -60%);
      max-width: 60%;
    }
  }
}

.pay-methods-logos {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: var(--fs-12);
  margin-top: 24px;
  margin-bottom: 24px;
  z-index: 2;
  img {
    height: 42px;
    @media (max-width: 767px) {
      height: 32px;
    }
  }
}
