.section--welcome {
  svg.logo-background {
    width: 900px;
    height: auto;
    right: 50%;
    top: 50%;
    z-index: 0;
    transform: translate(0%, -62%);
    pointer-events: none;
  }

  .title.title--64 {
    display: inline-flex;
    width: auto;
    font-weight: 300;
    z-index: 3;
  }

  .text {
    max-width: 38%;
    z-index: 3;
    line-height: 1.5;
    margin: var(--fs-20) auto;
  }
}

//1920
@media (min-width: 1920px) {
  .section--welcome {
    .content {
      min-height: 245px;
    }
    svg.logo-background {
      transform: translate(-30%, -62%) scaleX(-1);
    }

    .text {
      max-width: 810px;
    }
  }
}

//1366
@media (max-width: 1439px) {
  .section--welcome {
    svg.logo-background {
      transform: translate(-2%, -62%);
    }

    .text {
      margin: 10px auto;
    }
  }
}

//1024
@media (max-width: 1151px) {
  .section--welcome {
    .content {
      padding-bottom: 150px;
    }
    svg.logo-background {
      width: 633px;
      right: 0%;
      top: 25%;
      transform: translate(20%, 0%);
    }

    .content.row {
      flex-direction: column;
    }

    .title.title--64 {
      display: block;
      width: 100%;
      max-width: 100%;
    }

    .text {
      max-width: 100%;
      margin: var(--fs-20) 0px var(--fs-16) 0px;
      font-size: var(--fs-16);
    }
  }
}

//375
@media (max-width: 767px) {
  .section--welcome {
    .container {
      padding: 0;
    }
    svg.logo-background {
      width: 362px;
      right: 0%;
      top: auto;
      bottom: 0px;
      transform: translate(10%, 10%);
    }

    .content.row {
      flex-direction: column;
      padding: var(--fs-24);
      padding-bottom: 150px;
    }

    .title.title--64 {
      display: block;
      width: 100%;
      max-width: 100%;
    }

    .text {
      max-width: 100%;
      margin: var(--fs-20) 0px var(--fs-16) 0px;
    }
  }
}

.a11y {
  .section--welcome {
    svg.logo-background {
      width: 420px;
      height: 420px;
      right: 0px;
      top: 0px;
      transform: translate(24%, -16%);
    }

    .text {
      max-width: 100%;
      line-height: 1.5;
    }
  }
}
