.you-money {
  padding: var(--fs-40);
  @media (max-width: 1023px) {
    padding: var(--fs-24) var(--fs-20);
  }
}

.pay-methods {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: var(--fs-16) var(--fs-32);
  margin-top: 24px;

  .pay-methods-logos {
    display: inline-flex;
    position: relative;
    width: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: var(--fs-14);
    img {
      height: 42px;
      @media (max-width: 767px) {
        height: 32px;
      }
    }
  }

  .text {
    flex: 1;
    display: inline-block;
    width: auto;
    color: var(--grey-text);
    line-height: 1.5;
    @media (max-width: 1279px) {
      flex: auto;
      display: inline-block;
    }
  }

  .magenta-link {
    margin-left: auto;
    @media (max-width: 1023px) {
      margin-left: 0px;
    }
  }
}
