.section-teachers-sliader {
  .container {
    > .button {
      margin-left: auto;
      @media (max-width: 767px) {
        margin-left: 0px;
      }
    }
    @media (max-width: 767px) {
      > .title {
        width: 100%;
        line-height: 1.2;
        // font-size: var(--fs-26);
        max-width: calc(100% - 84px - 24px);
      }
      .arrows {
        margin-left: auto;
        // order: 2;
        // width: 100%;
        // justify-content: center;
      }

      // > .button {
      //   order: 3;
      //   width: 100%;
      // }
    }
  }

  .post-card {
    min-height: 466px;
    @media (max-width: 767px) {
      min-height: 450px;
    }
  }

  .swiper {
    .swiper-slide {
      &.swiper-slide-active + .swiper-slide,
      &.swiper-slide-active + .swiper-slide + .swiper-slide {
        opacity: 1;
        pointer-events: auto;
      }
      @media (min-width: 1920px) {
        &.swiper-slide-active + .swiper-slide + .swiper-slide + .swiper-slide {
          opacity: 1;
          pointer-events: auto;
        }
      }
      @media (max-width: 1279px) {
        width: calc(100vw - 32px);
        max-width: 354px;
        opacity: 1;
        pointer-events: auto;
      }
      @media (max-width: 767px) {
        .buttons {
          justify-content: flex-start;
        }
      }
    }
  }

  .post-card-image {
    max-height: 200px;
    &:before {
      padding-top: 54%;
    }
  }
}
