.faq {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 40px;
  border-radius: var(--fs-50);
  background-color: var(--grey-promo);

  .title {
    font-weight: 700;
  }
}

.faq-list {
  display: block;
  margin-top: var(--fs-16);
}

.faq-head {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  padding: var(--fs-16) var(--fs-30) var(--fs-16) 0px;
  cursor: pointer;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    right: 0px;
    width: var(--fs-24);
    height: var(--fs-24);
    border-radius: var(--fs-24);
    background-color: rgba(0, 0, 0, 0);
    flex-shrink: none;
    transform: rotate(0deg) !important;
    outline: none;
    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: var(--fs-14);
      height: 2px;
      border-radius: 2px;
      background-color: var(--blue);
      transition: transform 0.5s var(--cubic);
      transform: rotate(0deg);
    }

    &:after {
      transform: rotate(-90deg);
    }

    &:focus-visible {
      background-color: var(--magenta);
      &:before,
      &:after {
        background-color: var(--white);
      }
    }
  }

  &.open {
    button {
      &:after {
        transform: rotate(0deg);
      }
    }
  }
}

.faq-body {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: var(--fs-14);

  .title {
    margin-bottom: -0.2rem;
  }

  .text {
    line-height: 1.5;
    a {
      font-size: inherit;
    }
  }
}

//375
@media (max-width: 767px) {
  .faq {
    padding: var(--fs-26) var(--fs-20);
    border-radius: var(--fs-32);
    background-color: var(--grey-promo);
  }

  .faq-head {
    padding: var(--fs-14) var(--fs-30) var(--fs-14) 0px;
  }
}
