.section--curses {
  .content {
    min-height: 360px;
  }

  .content-text {
    max-width: 18.75rem; //300px
    margin-top: auto;
    margin-bottom: 10px;
  }

  .text,
  .title {
    line-height: 1;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .col-3 {
    .content-text {
      max-width: 14.375rem; //230px
    }
  }

  .tags {
    margin-bottom: var(--fs-12);
  }
}

.price-and-btn {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 12px;
  z-index: 2;
  span {
    font-size: var(--fs-24);
    line-height: 1;
    font-weight: 700;
    color: var(--blue);
  }
}

@media (max-width: 1151px) {
  .section--curses {
    .title--40 {
      margin-bottom: var(--fs-40);
    }
  }
}

//768
@media (max-width: 1023px) {
  .section--curses {
    .container {
      > .button {
        margin-left: auto;
      }
    }
    .content {
      .price-and-btn {
        margin-top: var(--fs-10);
      }
    }

    .content-text {
      max-width: 300px;
    }

    .col-3 {
      .content-text {
        max-width: 300px;
      }
    }

    .tags {
      .tag {
        background-color: rgba(255, 255, 255, 0.8);
      }
    }
  }
}

//375
@media (max-width: 767px) {
  .section--curses {
    .title--40 {
      margin-bottom: 0px;
    }
    .container {
      > .button {
        margin-left: auto;
      }
    }

    .content {
      min-height: 340px;

      .content-text {
        max-width: 230px;
      }

      .image-background {
        position: relative;
        width: calc(100% + 48px);
        height: 200px;
        left: -24px;
        top: -24px;
        margin-bottom: -50px;
        &:before {
          background: linear-gradient(rgba(255, 255, 255, 0) 50%, var(--white));
        }
        img {
          display: block;
          width: auto;
          max-width: 150%;
          min-width: 100%;
          height: 100%;
          left: auto;
          right: 0px;
        }
      }

      .logo-background {
        width: 320px;
        right: 0%;
        top: 0%;
        transform: translate(50%, -20%);
      }
    }
  }
}

.a11y {
  .section--curses {
    .content {
      min-height: auto;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;

      .image-background {
        min-width: calc(100% + var(--fs-30) + var(--fs-30));
        left: calc(100% - (100% + var(--fs-30)));
        top: calc(100% - (100% + var(--fs-30)));
      }

      .price-and-btn {
        margin-top: var(--fs-16);
      }
    }

    .content-text {
      max-width: 100%;
      margin-top: 0px;
      margin-bottom: auto;
      min-height: 0px;
    }

    .col-3 {
      .content-text {
        max-width: 100%;
      }
    }

    .tags {
      margin-bottom: var(--fs-16);
    }
  }
}
