.reviews-slider {
  .swiper-slide {
    opacity: 1;
    pointer-events: all;
    width: 430px;
    @media (min-width: 1920px) {
      width: 486px;
    }
    @media (max-width: 1023px) {
      width: 300px;
    }
    @media (max-width: 767px) {
      width: 278px;
    }
  }

  &.more {
    .swiper-slide {
      width: 555px;
      @media (min-width: 1920px) {
        width: 486px;
      }
      @media (max-width: 1023px) {
        width: 340px;
      }
      @media (max-width: 767px) {
        width: 278px;
      }
      .review {
        border-radius: 50px;
      }
    }
  }
}

.stars {
  display: block;
  width: 96px;
  height: 16px;
  position: relative;
  font-size: 0px;
  .stars-back,
  .stars-front {
    display: block;
    width: 100%;
    height: 100%;
  }

  .stars-back {
    color: var(--grey-stars);
  }

  .stars-front {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    overflow: hidden;
    color: var(--gold);
  }
}

.rating-sum {
  display: inline-flex;
  position: relative;
  height: var(--fs-32); //32px
  justify-content: flex-start;
  align-items: flex-end;
  align-content: flex-end;
  gap: var(--fs-12); //12px
  strong {
    display: block;
    line-height: var(--fs-34);
  }
  @media (max-width: 830px) {
    min-width: 60%;
  }
}

.all-reviews-rating {
  p {
    display: block;
    font-size: var(--fs-12);
    line-height: 1;
    color: var(--grey);
    margin-top: 2px;
  }
}

.review {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--white);
  padding: 1.5rem; //24px
  border-radius: var(--fs-30);
  gap: var(--fs-16);
  box-shadow: 0px 8px 24px rgba(15, 23, 42, 0.031);

  > .text {
    line-height: 1.5;
  }
}

.review-person {
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
  width: 100%;
  gap: 0.75rem; //12px
}

.review-person-image {
  display: block;
  position: relative;
  background-color: var(--grey-light);
  overflow: hidden;
  width: 2.75rem; // 44px
  height: 2.75rem; // 44px
  flex-shrink: 0;
  border-radius: 2.75rem; // 44px
  img {
    width: 100%;
    height: 100%;
  }
}

.review-person-text {
  display: block;
  p {
    display: block;
    line-height: 1;
    margin-top: 4px;
  }
}

@media (max-width: 1023px) {
  .section--reviews-slider {
    .container {
      .arrows {
        order: 2;
      }
      .rating-sum {
        order: 3;
        width: 100%;
      }
      .reviews-slider {
        order: 4;
      }
      > .button {
        order: 5;
        margin: 0 auto;
      }
    }
  }

  .section--reviews-more {
    .container {
      > .buttons.ta--r {
        justify-content: flex-start;
      }
      @media (max-width: 599px) {
        > .title {
          width: 100%;
        }
      }
    }
  }
}

.body.a11y {
  @media (min-width: 768px) {
    .review {
      .stars {
        display: block;
        width: auto;
        height: auto;
        position: relative;
        font-size: var(--fs-16);
        padding: var(--fs-6) var(--fs-20);
        border-radius: var(--fs-24);
        background-color: var(--grey-light);
        .stars-back,
        .stars-front {
          display: none;
        }
      }
    }

    .reviews-slider {
      .swiper-slide {
        width: 700px;
      }
    }

    @media (max-width: 1151px) {
      .reviews-slider {
        .swiper-slide {
          width: 500px;
        }
      }
    }

    // A++
    &.a11y-font-large {
      .review {
        .stars {
          font-size: var(--fs-20);
        }
      }

      .review-person-image {
        width: var(--fs-60); // 50px
        height: var(--fs-60); // 50px
        border-radius: var(--fs-60); // 50px
      }
    }
  }

  &.a11y-theme-dark {
    .review {
      background-color: var(--blue);
    }
    .review-person-image {
      background-color: var(--blue);
    }
  }
}
