.page {
  .container {
    align-items: unset;
    align-content: unset;
    justify-content: unset;
  }
  padding-bottom: var(--fs-40);
}

.sidebar {
  --sticky-top: calc(45px + var(--fs-24));
  --sticky-bottom: var(--fs-24);
  display: flex;
  position: sticky;
  top: var(--sticky-top);
  flex-direction: column;
  gap: var(--fs-24);
  width: 100%;
  max-width: var(--fs-400);
  flex-shrink: 0;
  align-self: flex-start;

  &.medium {
    max-width: var(--fs-320);
  }

  &.small {
    max-width: var(--fs-300);
    padding-left: var(--fs-8);
    padding-right: var(--fs-8);
    gap: var(--fs-20);
  }

  &.right-side {
    order: 2;
  }
  &.left-side {
    order: 1;
  }
}

.page-content {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  gap: var(--fs-24);
  flex: 1;
  min-height: 100%;
  order: 1;

  .content {
    flex: none;
    height: auto;
  }

  > .buttons {
    margin-top: var(--fs-16);
  }
}
