.section--degistation-list {
  .search-navigation {
    display: inline-flex;
    width: auto;
    margin-left: auto;
    @media (max-width: 1023px) {
      width: 100%;
      li {
        .search-navigation__btn {
          padding-left: var(--fs-12);
          padding-right: var(--fs-12);
          font-size: var(--fs-13);
        }
      }
    }
  }
}

.card-banner {
  width: 100%;
  min-width: 100%;
  min-height: 340px;
  .content-text {
    max-width: var(--fs-400);
  }

  .image-background {
    --fade-size: 70%;
  }

  @media (max-width: 767px) {
    &.dark {
      background-color: var(--blue);
      .title,
      .text,
      .icon-list span,
      .price {
        color: var(--white);
      }

      .button.blue {
        border: 1px solid var(--grey);
      }
    }

    .content-text {
      margin-top: 200px;
    }

    .image-background {
      height: 300px;
      --fade-direction: 0deg;
      --fade-size: 30%;
    }

    .buttons {
      margin-top: auto;
    }
  }
}

//1920
@media (min-width: 1920px) {
  .section--degistation-list,
  .section--classrooms {
    .collage {
      .col--2-3 {
        width: calc(75% - (var(--fs-24) / 2));
      }

      .col--3 {
        width: calc((100% - var(--fs-24) - var(--fs-24) - var(--fs-24)) / 4);
      }
    }
  }
}

//1024
@media (max-width: 1151px) {
  .section--degistation-list,
  .section--classrooms {
    .collage {
      .col--2-3 {
        width: 100%;
      }

      .col--3 {
        width: calc((100% - var(--fs-24)) / 2);
      }

      .col--1 {
        .col--3 {
          width: 100%;
          .content {
            width: calc((100% - var(--fs-24)) / 2);
          }
        }
      }
    }
  }
}

//360
@media (max-width: 767px) {
  .section--degistation-list,
  .section--classrooms {
    .collage {
      .col--3 {
        width: 100%;
      }

      .col--1 {
        .col--3 {
          width: 100%;
          .content {
            width: 100%;
          }
        }
      }
    }
  }
}
