@media (max-width: 1023px) {
  .degustations-hero.collage {
    > .col--2 {
      width: 100%;
      &.degustations-hero-image {
        height: 50vw;
      }
    }
  }
}
@media (max-width: 767px) {
  .degustations-hero.collage {
    .col--2 {
      width: 100%;
    }
    .dark-gradient {
      --fade-direction: 0deg;
      --fade-size: 40%;
    }
  }
}

.why-ast-desc {
  max-width: 500px;
}
