[data-accordeon] {
  @media (hover: hover) {
    &:hover {
      .accordeon-arrow {
        background-color: var(--magenta);
        color: var(--white);
      }
    }
  }
  &:focus-visible {
    .accordeon-arrow {
      background-color: var(--magenta);
      color: var(--white);
    }
  }
}

[data-accordeon-body] {
  position: relative;
  overflow: hidden;
  transition: height 0.5s var(--cubic);
}

[data-accordeon-head] {
  cursor: pointer;
  > svg,
  > button {
    transform: rotate(0deg);
    transition: 0.5s var(--cubic);
  }
  &.open {
    > svg,
    > button {
      transform: rotate(180deg);
    }
  }
}
