.breadcrumbs {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  margin-top: var(--fs-24);
  max-width: 1440px;
  padding: 0px 50px;
  @media (max-width: 1439px) {
    max-width: 1280px;
    padding: 0px 40px;
  }
  @media (max-width: 767px) {
    max-width: 420px;
    padding: 0px 16px;
    margin-top: var(--fs-16);
  }
  li {
    display: inline-flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    font-size: var(--fs-14);
    font-weight: 400;
    color: var(--grey-text);
    &:after {
      content: '|';
      display: block;
      margin: 0px 8px;
      color: inherit;
      color: var(--grey-medium);
    }
    &:last-child {
      &:after {
        content: none;
      }
    }

    a {
      transition: color 0.3s var(--cubic);
      color: var(--magenta);
      outline: none;
      @media (hover: hover) {
        &:hover {
          color: var(--magenta-hover);
        }
      }
      &:focus-visible {
        color: var(--magenta-hover);
        text-decoration: underline;
      }
    }
  }
}
