.breadcrumbs {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  margin-top: 24px;
  max-width: 1440px;
  padding: 0px 50px;
  @media (max-width: 1279px) {
    padding: 0px 20px;
  }
  li {
    display: inline-flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    font-size: var(--fs-14);
    font-weight: 400;
    color: var(--grey);
    &:after {
      content: '|';
      display: block;
      margin: 0px 8px;
      color: inherit;
    }
    &:last-child {
      &:after {
        content: none;
      }
    }

    a {
      transition: color 0.3s var(--cubic);
      color: var(--magenta);
      outline: none;
      @media (hover: hover) {
        &:hover {
          color: var(--magenta-hover);
        }
        &:focus-visible {
          color: var(--magenta-hover);
          text-decoration: underline;
        }
      }
    }
  }
}
