.footer {
  display: block;
  background: var(--blue);
  color: var(--white);
  padding-top: 94px;
  margin-top: 40px;

  .container {
    justify-content: space-between;
    gap: var(--fs-24);
    max-width: 1280px;
    padding: 0px 20px;
    align-items: flex-start;
  }
}

.copy {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 32px;
  margin-top: 8px;
  font-size: var(--fs-12);
  line-height: 1.2;
  font-weight: 400;

  br {
    display: none;
  }

  p {
    display: inline-block;
    opacity: 0.5;
  }

  a {
    display: inline-block;
    opacity: 0.5;
    transition:
      opacity 0.3s var(--cubic),
      color 0.3s var(--cubic),
      border-bottom 0.3s var(--cubic);
    border-bottom: 1px solid var(--white);
    @media (hover: hover) {
      &:hover {
        opacity: 1;
      }
    }
    &:focus-visible {
      opacity: 1;
    }
  }
}

.footer-logo {
  display: block;
  width: 100%;
  height: auto;
  opacity: 0.2;
  margin-top: 8px;
}

.footer-menu {
  display: block;
  flex-wrap: wrap;
  gap: var(--fs-16) 0px;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  width: auto;

  .button {
    margin-top: var(--fs-24);
  }
}

.footer-menu-col {
  display: block;
  width: auto;
  .footer-menu-title {
    opacity: 1;
    @media (max-width: 767px) {
      opacity: 0.5;
    }
    line-height: 1;
    margin: 0;
  }
}

.footer-address {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: var(--fs-30) var(--fs-24);
  .footer-menu-list {
    margin: var(--fs-16) 0px;
  }
}

.footer-menu-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  margin-bottom: var(--fs-16);
  width: 100%;
  font-weight: 700;
  font-size: var(--fs-18);
  line-height: 1.2;
  opacity: 0.5;
  gap: var(--fs-8);
  button {
    transform: translateY(-7%);
    width: var(--fs-26);
    height: var(--fs-26);
    svg {
      position: relative;

      width: 100%;
      height: 100%;
    }
  }

  @media (min-width: 768px) {
    cursor: auto !important;
    button {
      display: none;
    }
  }
}

.footer-menu-list {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  font-weight: 400;
  line-height: 1.143;
  font-size: var(--fs-14);

  span {
    opacity: 0.5;
  }

  a {
    display: inline-block;
    padding: var(--fs-8) 0px;
    transition: color 0.3s var(--cubic);
    outline: none;
    font-size: var(--fs-14);
    line-height: 1.2;
    @media (hover: hover) {
      &:hover {
        color: var(--magenta);
      }
    }
    &:focus-visible {
      color: var(--magenta);
      text-decoration: underline;
    }
  }

  li {
    &:first-child {
      a {
        padding-top: 0px;
      }
    }
    &:last-child {
      a {
        padding-bottom: 0px;
      }
    }
  }
}

.socials {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: var(--fs-8);
  margin-top: 4px;
  a {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    color: inherit;
    transition: color 0.3s var(--cubic);
    outline: none;

    @media (hover: hover) {
      &:hover {
        color: var(--magenta);
      }
    }
    &:focus-visible {
      color: var(--magenta);
    }

    svg {
      display: block;
      pointer-events: none;
      width: 100%;
      height: 100%;
    }
  }
}

//ВЕРСИЯ ДЛЯ СЛАБОВИДЯЩИХ
.a11y {
  .footer-menu-title {
    opacity: 1;
  }
  .copy {
    p {
      opacity: 1;
    }

    a {
      opacity: 1;
    }
  }
  .footer-logo {
    display: none;
  }

  @media (min-width: 768px) {
    .footer {
      padding-top: 4rem;
      padding-bottom: 4rem;
      @media (max-width: 767px) {
        padding-top: 50px;
        padding-bottom: 50px;
      }
      .container {
        max-width: 1340px;
        padding: 0px 50px;
        gap: 2.5rem 24px;
        @media (min-width: 1920px) {
          max-width: 1720px;
        }

        @media (max-width: 1439px) {
          max-width: 1280px;
          padding: 0px var(--fs-20);
        }

        @media (max-width: 1151px) {
          padding: 0px 32px;
          gap: var(--fs-24);
        }

        @media (max-width: 767px) {
          padding: 0px 16px;
          gap: var(--fs-24);
        }
      }
    }

    .footer-menu-list {
      a {
        @media (hover: hover) {
          &:hover {
            text-decoration: underline;
            color: inherit;
          }
        }
        &:focus-visible {
          text-decoration: underline;
          color: inherit;
        }
      }
    }
    .copy {
      a {
        @media (hover: hover) {
          &:hover {
            color: var(--magenta);
            border-bottom: 1px solid var(--magenta);
          }
        }
        &:focus-visible {
          color: var(--magenta);
          border-bottom: 1px solid var(--magenta);
        }
      }
    }

    @media (max-width: 1151px) and (min-width: 768px) {
      .footer .container {
        display: flex;
        .footer-menu {
          &:nth-child(4) {
            margin-top: 0px;
          }
        }
      }

      &.a11y-spacing-wide,
      &.a11y-spacing-wider {
        .footer .container {
          justify-content: space-around;
        }
      }
    }
  }

  @media (max-width: 767px) {
    &.a11y-font-big {
      .footer-menu-list a {
        font-size: var(--fs-16);
      }
    }

    &.a11y-font-large {
      .footer-menu-list a {
        font-size: var(--fs-18);
      }
    }
  }

  // БЕЛАЯ ТЕМА
  &.a11y-theme-light {
    .footer {
      background: var(--grey-light);
      color: Var(--blue);
    }
  }

  // ЧЁРНАЯ ТЕМА
  &.a11y-theme-dark {
    .footer {
      background: var(--blue);
      border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
  }
}

//1920
@media (min-width: 1920px) {
  .footer {
    .container {
      max-width: 1720px;
      padding: 0px;
    }
  }
}

//1366
@media (max-width: 1439px) {
  .footer {
    .container {
      max-width: 1280px;
      padding: 0px 20px;
    }
  }
}

//1280
@media (max-width: 1365px) {
  .footer {
    padding-top: 80px;

    .container {
      gap: var(--fs-40) var(--fs-24);
    }
  }

  .footer-menu-list {
    font-size: var(--fs-13);
  }
}

//1024
@media (max-width: 1279px) {
  .footer {
    display: block;
    position: relative;
  }

  .copy {
    gap: 32px;
    margin-top: 8px;
    font-size: var(--fs-12);
  }

  .footer-logo {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

//TABLET
@media (max-width: 1151px) and (min-width: 768px) {
  .footer {
    .container {
      display: block;
      columns: 2;
      column-gap: var(--fs-16);
      padding: 0px 32px;

      .footer-menu {
        margin-bottom: var(--fs-32);
        &:nth-child(4) {
          margin-top: 120px;
        }
      }

      .copy,
      .footer-logo {
        column-span: all;
      }
    }
  }
}

//768
@media (max-width: 1151px) {
  .copy {
    gap: 24px 50px;
    margin-bottom: var(--fs-32);
    font-size: var(--fs-10);
  }
}

//375
@media (max-width: 767px) {
  .footer {
    padding-top: 50px;
    margin-top: 20px;
    .container {
      max-width: 420px;
      gap: var(--fs-30);
      padding: 0px 16px;
    }
  }

  .copy {
    gap: 16px;
    margin-top: 8px;
    font-size: var(--fs-14);
    text-align: center;
    flex-direction: column;
    br {
      display: block;
    }
    p {
      opacity: 0.2;
    }

    a {
      opacity: 0.2;
      // @media (hover: hover) {
      //   &:hover {
      //     opacity: 1;
      //   }
      // }
      // &:focus-visible {
      //   opacity: 1;
      // }
    }
  }

  .footer-menu {
    min-width: 100%;
    width: 100%;

    &:nth-child(1),
    &:nth-child(2) {
      min-width: 100%;
    }

    .button {
      width: 100%;
    }
  }

  .footer-menu-list {
    font-size: var(--fs-14);
    &[data-accordeon-body] {
      height: 0px;
    }
  }

  .footer-menu-title {
    margin: 0;
    justify-content: flex-start;
  }

  [data-accordeon].footer-menu {
    display: block;
    .footer-menu-list li {
      &:first-child {
        margin-top: var(--fs-16);
      }
    }
  }

  .footer-address {
    margin-top: var(--fs-16);
  }
}

//320
@media (max-width: 374px) {
  .footer-address {
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-menu-col {
    width: 100%;
    margin-bottom: var(--fs-16);
  }
}
