.info-menu {
  background-color: var(--grey-promo);
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: var(--fs-16);
  z-index: 1;

  a {
    display: block;
    font-size: var(--fs-16);
    line-height: 1.3;
    padding: var(--fs-12) var(--fs-16);
    background-color: rgba(0, 0, 0, 0);
    font-weight: 400;
    &.active,
    &:focus-visible {
      font-weight: 500;
      background-color: var(--blue-menu-active);
    }

    @media (hover: hover) {
      &:hover {
        background-color: var(--blue-menu-active);
      }
    }
  }
}
