.search-form {
  width: 100%;
  height: var(--fs-35);
  display: inline-flex;
  gap: var(--fs-12);

  .label {
    position: relative;
  }

  .input {
    height: var(--fs-35);
    line-height: 1;
    width: 100%;
    border-radius: var(--fs-12);
    font-size: var(--fs-14);
    padding: 0px var(--fs-40);
    background-color: var(--white);
    &:not(:focus):not(:focus-visible):not(.invalid) {
      border: 1px solid var(--grey-border);
    }
  }

  .inputError {
    position: absolute;
    pointer-events: none;
    max-width: 60%;
    min-height: var(--fs-33);
    line-height: var(--fs-33);
    background-color: var(--white);
    left: var(--fs-40);
    top: -1px;
  }
}

.search-submit-icon {
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  width: var(--fs-40);
  height: var(--fs-35);
  border-radius: var(--fs-12);
  border: 1px solid rgba(0, 0, 0, 0);
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: var(--blue);
  outline: none;
  overflow: hidden;
  transition:
    color 0.3s var(--cubic),
    border 0.3s var(--cubic);

  svg {
    width: var(--fs-24);
    height: var(--fs-24);
  }

  &:focus-visible {
    border: 1px solid var(--magenta);
  }
}

.search-close {
  display: flex;
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
  width: var(--fs-44);
  height: var(--fs-35);
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 5;
  outline: none;
  border-radius: var(--fs-12);

  &:focus-visible {
    border: 1px solid var(--magenta);
    color: var(--magenta);
  }

  svg {
    display: block;
    transition: color 0.3s var(--cubic);
    color: var(--grey-dark);
    width: var(--fs-16);
    height: var(--fs-16);
  }

  @media (hover: hover) {
    &:hover {
      svg {
        color: var(--black);
      }
    }
  }
}

.a11y {
  .search-submit-icon,
  .search-close {
    svg {
      color: var(--blue);
    }
  }
}
