<menu class="info-menu">
  <li><a href="%ROOT%info/main-info/">Основные сведения</a></li>
  <li><a href="%ROOT%info/structure/">Структура и&nbsp;органы управления образовательной организацией</a></li>
  <li><a href="%ROOT%info/documents/">Документы</a></li>
  <li><a href="%ROOT%info/education/">Образование</a></li>
  <li><a href="%ROOT%info/management/">Руководство</a></li>
  <li><a href="%ROOT%info/teaching-staff/">Педагогический состав</a></li>
  <li><a href="%ROOT%info/facilities/">Материально-техническое обеспечение и&nbsp;оснащенность образовательного процесса. Доступная среда</a></li>
  <li><a href="%ROOT%info/paid-services/">Платные образовательные услуги</a></li>
  <li><a href="%ROOT%info/finance/">Финансово-хозяйственная деятельность</a></li>
  <li><a href="%ROOT%info/vacancies/">Вакантные места для приема (перевода) обучающихся</a></li>
  <li><a href="%ROOT%info/scholarships/">Стипендии и&nbsp;меры поддержки обучающихся</a></li>
  <li><a href="%ROOT%info/international/">Международное сотрудничество</a></li>
  <li><a href="%ROOT%info/catering/">Организация питания в&nbsp;образовательной организации</a></li>
  <li><a href="%ROOT%info/standards/">Образовательные стандарты и&nbsp;требования</a></li>
</menu>
