<menu class="profile-menu">
  <li>
    <a href="%ROOT%profile/" class="profile-menu-link" data-exact>
      <svg width="20" height="20"><use href="/assets/img/sprite.svg#user"></use></svg>
      <span>Профиль</span>
    </a>
  </li>
  <li>
    <a href="%ROOT%profile/orders/" class="profile-menu-link">
      <svg width="20" height="20"><use href="/assets/img/sprite.svg#orders"></use></svg>
      <span>Заказы</span>
    </a>
  </li>
  <li>
    <a href="%ROOT%profile/waitlist/" class="profile-menu-link">
      <svg width="20" height="20"><use href="/assets/img/sprite.svg#waitlist"></use></svg>
      <span>Лист ожидания</span>
    </a>
  </li>
  <li>
    <a href="%ROOT%profile/certificates/" class="profile-menu-link">
      <svg width="20" height="20"><use href="/assets/img/sprite.svg#certificats"></use></svg>
      <span>Мои сертификаты</span>
    </a>
  </li>
  <li>
    <a href="%ROOT%profile/referral-program/" class="profile-menu-link">
      <svg width="20" height="20"><use href="/assets/img/sprite.svg#referals"></use></svg>
      <span>Реферальная программа</span>
    </a>
  </li>
</menu>

<menu class="profile-menu">
  <li>
    <button type="button" class="profile-menu-link magenta">
      <svg width="20" height="20"><use href="/assets/img/sprite.svg#logout"></use></svg>
      <span>Выйти</span>
    </button>
  </li>
</menu>
