.order-details {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  gap: var(--fs-16);
  padding: var(--fs-32);
  border-radius: var(--fs-30);
  background-color: var(--white);
}

.order-sum {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--fs-16);
  padding-top: var(--fs-16);
  border-top: 1px solid var(--grey-button);
}

.order-table {
  border-collapse: collapse;
  border-spacing: 0;

  td {
    padding: var(--fs-8) 0px;
    text-align: left;
    &:last-child {
      text-align: right;
    }

    button {
      display: inline-block;
    }
  }
}
