<label class="label">
  <button type="submit" class="search-submit-icon" aria-label="Отправка формы поиска">
    <svg width="24" height="24"><use href="/assets/img/sprite.svg#search"></use></svg>
  </button>
  <input type="text" name="s" class="input" required placeholder="Поиск" aria-label="Поиск" data-error-text="Введите запрос" />
  <button type="reset" class="search-close" aria-label="Очистить форму поиска">
    <svg width="16" height="16"><use href="/assets/img/sprite.svg#reset"></use></svg>
  </button>
</label>
