<article class="promo-card small">
  <svg width="694" height="694" class="promo-card-logo-background large">
    <use href="/assets/img/sprite.svg#preloader"></use>
  </svg>
  <div class="present">
    <img src="/assets/img/present-top.webp" alt="AST" class="present-top" />
    <img src="/assets/img/present-bottom.webp" alt="AST" class="present-bottom" />
  </div>
  <div class="promo-card-text big center full">
    <h3 class="title title--32">Сертификат в подарок за 1 минуту</h3>
    <p class="text">Хотите подарить другу курс, но не можете выбрать подходящий? <br />Подарите ему сертификат!</p>
    <a href="#" class="button medium magenta">Подробнее</a>
  </div>
</article>
