<div class="image-slider" data-slider data-pagination-type="fraction" data-loop="true">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="image-slide">
          <img src="/assets/img/curse-slider/1.webp" alt="AST" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="image-slide">
          <img src="/assets/img/curse-slider/2.webp" alt="AST" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="image-slide">
          <img src="/assets/img/curse-slider/3.webp" alt="AST" />
        </div>
      </div>
    </div>
  </div>

  <div class="arrows">
    <button class="arrow" data-arrow-prev>
      <svg><use href="/assets/img/sprite.svg#arrow-accordeon"></use></svg>
    </button>
    <div class="swiper-pagination" data-pagination></div>
    <button class="arrow" data-arrow-next>
      <svg><use href="/assets/img/sprite.svg#arrow-accordeon"></use></svg>
    </button>
  </div>
</div>
