<div class="image-slider" data-slider data-pagination-type="fraction" data-loop="true">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="image-slide">
          <img src="/assets/img/curse-slider/1.webp" alt="Фотография с занятия" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="image-slide">
          <img src="/assets/img/curse-slider/2.webp" alt="Фотография с занятия" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="image-slide">
          <img src="/assets/img/curse-slider/3.webp" alt="Фотография с занятия" />
        </div>
      </div>
    </div>
  </div>

  <div class="arrows">
    <load src="/_partials/components/slider-arrows-with-pagination.html" />
  </div>
</div>
