<div class="content grey diploma">
  <svg width="694" height="694" class="logo-background large" aria-hidden="true">
    <use href="/assets/img/sprite.svg#preloader"></use>
  </svg>

  <div class="content-text gap--20">
    <h2 class="title title--32 upper">По окончании вы получите</h2>
    <b class="title title--confirm">
      <svg><use href="/assets/img/sprite.svg#confirm"></use></svg>
      Электронный сертификат на почту
    </b>

    <p class="text">
      Быстрая выдача и&nbsp;удобное хранение — приходит на&nbsp;e-mail сразу после завершения курса в&nbsp;формате PDF. Не потеряется, всегда под
      рукой на&nbsp;телефоне, можно переслать работодателю или распечатать при&nbsp;необходимости — самый оперативный способ подтвердить обучение.
    </p>
  </div>

  <img src="/assets/img/diplomas/diploma-4.webp" alt="Диплом об окончании Школы вина AST" class="certificat" />
</div>
