<div class="content grey diploma">
  <svg width="694" height="694" class="logo-background large" aria-hidden="true">
    <use href="/assets/img/sprite.svg#preloader"></use>
  </svg>

  <div class="content-text gap--20">
    <h2 class="title title--32 upper">По окончании вы получите</h2>
    <b class="title title--confirm">
      <svg><use href="/assets/img/sprite.svg#confirm"></use></svg>
      Диплом
    </b>
    <p class="text">
      Официальный документ государственного образца — подтверждает прохождение полного курса и&nbsp;даёт право на&nbsp;включение сведений в&nbsp;ФИС
      ФРДО. Диплом ценится работодателями и&nbsp;необходим, если вы планируете работать в&nbsp;винной индустрии (сомелье, байер, менеджер ресторана).
    </p>
  </div>

  <img src="/assets/img/diplomas/diploma-1.webp" alt="Диплом об окончании Школы вина AST" class="certificat" />
</div>
