<div class="content grey diploma">
  <svg width="694" height="694" class="logo-background large" aria-hidden="true">
    <use href="/assets/img/sprite.svg#preloader"></use>
  </svg>

  <div class="content-text gap--20">
    <h2 class="title title--32 upper">По окончании вы получите</h2>
    <a href="#" class="button">Сертификат на&nbsp;бланке</a>
    <p class="text">
      Печатный вариант для важных моментов — выполнен на&nbsp;фирменном бланке школы с&nbsp;подписью руководителя и&nbsp;печатью. Эстетично смотрится
      в&nbsp;рамке, подходит для&nbsp;торжественного вручения на&nbsp;последнем занятии или в&nbsp;подарок самому себе как материальное напоминание
      о&nbsp;достижении.
    </p>
  </div>

  <img src="/assets/img/diplomas/diploma-3.webp" alt="Диплом об окончании Школы вина AST" class="certificat" />
</div>
