<div class="content grey diploma">
  <svg width="694" height="694" class="logo-background large" aria-hidden="true">
    <use href="/assets/img/sprite.svg#preloader"></use>
  </svg>

  <div class="content-text gap--20">
    <h2 class="title title--32 upper">По окончании вы получите</h2>
    <a href="#" class="button">Электронный сертификат с QR-кодом</a>
    <p class="text">
      Цифровое свидетельство ваших знаний — содержит уникальный QR-код, ведущий на&nbsp;страницу проверки подлинности. Можно мгновенно встроить
      в&nbsp;LinkedIn, резюме или портфолио, а&nbsp;работодатель или клиент всегда сможет верифицировать документ в&nbsp;два клика.
    </p>
  </div>

  <img src="/assets/img/diplomas/diploma-2.webp" alt="Диплом об окончании Школы вина AST" class="certificat" />
</div>
